#Unit 6. 변수와 입력

##6.1 변수

변수 이름은 원하는 대로 지으면 되지만 다음과 같은 규칙을 지켜야 합니다.

영문 문자와 숫자를 사용할 수 있습니다.

대소문자를 구분합니다.

문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.

_(밑줄 문자)로 시작할 수 있습니다.

특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.

파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [1]:
x = 10
x

10

In [2]:
s = 'Hello, world!'
s

'Hello, world!'

In [3]:
type(x), type(s)

(int, str)

In [4]:
x, y, z = 10, 20, 30
x, y, z

(10, 20, 30)

In [6]:
x = y = z = 10
x, y, z

(10, 10, 10)

In [7]:
del z
print(z)

NameError: ignored

In [9]:
# Null
x = None
print(x)

None

In [10]:
x

##6.2 변수로 계산

In [12]:
a = 10
a = a + 10
a

20

In [13]:
a = 10
a += 10   # a = a + 10
a

20

In [15]:
sum, prod = 0, 1
for i in range(1,11):
  sum += i
  prod *= i
sum, prod

(55, 3628800)

In [16]:
-prod

-3628800

##6.3 입력(input)

In [17]:
x = input()

Hello world!

In [18]:
x

'Hello world!'

In [20]:
x = input('1에서 10사이의 정수값> ')      #prompt

1에서 10사이의 정수값> 7

In [21]:
# 입력한 두 정수의 합
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
a+b

첫번째 정수> 101
두번째 정수> 303

'101303'

In [22]:
type(a)

str

In [23]:
a = input('첫번째 정수> ')
b = input('두번째 정수> ')
int(a) + int(b)

첫번째 정수> 101
두번째 정수> 303

404

In [24]:
a = int(input('첫번째 정수> '))
b = int(input('두번째 정수> '))
a + b

첫번째 정수> 101
두번째 정수> 303

404

##6.4 입력값 두개

In [25]:
s.split()

['Hello,', 'world!']

In [27]:
a, b = s.split()
a, b

('Hello,', 'world!')

In [28]:
a, b, c = 'A quick brown'.split()
a, b, c

('A', 'quick', 'brown')

In [29]:
a, b = input('정수 두개 입력> ').split()

정수 두개 입력> 10 20

In [30]:
a = int(a)
b = int(b)
a + b

30

In [31]:
a, b = input('정수 두개 입력, comma로 구분하세요.> ').split(',')

정수 두개 입력, comma로 구분하세요.> 10,20

In [32]:
a = int(a)
b = int(b)
a + b

30

### map 활용



*   리스트 각 엘리먼트에 지정한 함수를 적용

In [34]:
a, b = map(int, [10.2, 11.4])
a, b

(10, 11)

In [36]:
a, b = map(int, input('정수 두개 입력> ').split())
a + b

정수 두개 입력> 10 20

30

In [38]:
import math
a, b = map(math.sqrt, [1, 4])
a, b

(1.0, 2.0)