# Unit30. 위치 인수와 키워드 인수

## 30.1 위치 인수

In [2]:
print(10,20,30, sep=',') #위치인수 : 10 20 30, 키워드인수 : sep=','

10,20,30

In [3]:
print(10,20,30,40,50,60,70,80,90,100) # 위치 인수 개수 무관

10 20 30 40 50 60 70 80 90 100

In [4]:
def print_numbers(a,b,c):
  print(a)
  print(b)
  print(c)

In [5]:
print_numbers(10,20,30)

10
20
30

In [6]:
# *x/*y - 리스트/튜플 언패킹
x, y = [10,20,30], (40,50,60)
print_numbers(*x)
print_numbers(*y)

10
20
30
40
50
60

### 가변 인수 함수

In [10]:
def print_numbers2(*args):
  for arg in args:
    print(arg)

In [11]:
print_numbers(10,20,30,40)

10
20
30
40

In [12]:
print_numbers2(10)

10

### 고정 인수와 가변 인수

In [13]:
def print_numbers3(a, *args):
  print(a)
  print(args)

In [14]:
print_numbers3(1,10,20)

1
(10, 20)

In [16]:
print_numbers3(*x) #고정인수 : 10, 가변인수 : 20,30

10
(20, 30)

In [17]:
def print_numbers4(*args, a):
  print(args)
  print(a)

In [18]:
print_numbers4(*x) # 가변인수가 고정인수보다 먼저 나올 수 없다

TypeError: ignored

## 30.2 키워드 인수

In [21]:
def personal_info(name, age, addr):
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [22]:
personal_info('홍길동', 30, '서울 강남구 도곡동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

In [23]:
personal_info(age=30, addr='서울 강남구 도곡동', name='홍길동')

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

## 30.3 키워드 인수와 딕셔너리 언패킹

In [25]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}
personal_info(*x) # * 1개만 쓰면 키값을 불러냄

이름: name
나이: age
주소: addr

In [26]:
x = {'name':'홍길동', 'age':30, 'addr':'서울 강남구 도곡동'}
personal_info(**x) # ** : 딕셔너리 언패킹

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동

### 가변 키워드 인수

In [27]:
def personal_info2(**kwargs):
  for key, value in kwargs.items():
    print(f'{key}: {value}')

In [28]:
personal_info2(**x)

name: 홍길동
age: 30
addr: 서울 강남구 도곡동

In [29]:
personal_info2(name='홍길동',age=30)

name: 홍길동
age: 30

### 고정 인수와 가변 키워드 인수

In [30]:
def personal_info3(name, **kwargs):   # 고정인수,가변키워드인수 : 고정 인수가 먼저 와야 한다
  print(name)
  print(kwargs)

In [31]:
personal_info3(**x)

홍길동
{'age': 30, 'addr': '서울 강남구 도곡동'}

### 위치 인수와 키워드 인수

In [36]:
def my_print(*args, **kwargs):   ## 위치인수가 먼저 온다.
  print(*args, **kwargs)

In [37]:
my_print(10,20,30, sep=', ')

10, 20, 30

## 매개변수에 초기값 지정

In [38]:
def personal_info4(name, age, addr='비공개'):   # 초기값이 지정된 addr은 반드시 맨 뒤에 써야 한다.
  print('이름:', name)
  print('나이:', age)
  print('주소:', addr)

In [39]:
personal_info4('홍길동', 30)

이름: 홍길동
나이: 30
주소: 비공개

In [40]:
personal_info4(**x)

이름: 홍길동
나이: 30
주소: 서울 강남구 도곡동