# Unit 31. 재귀호출(Recursive Call)

### factorial 함수를 재귀호출로 구현

In [4]:
### factorial 함수
def factorial(n):
  if n == 0:                 # n == 1:
    return 1
  return n*factorial(n-1)

In [7]:
factorial(5)

120

### fibonacci 수열
- f(n) = f(n-1) + f(n-2)
- f(1) = 1, f(2) = 1

In [20]:
# 피보나치 수열
def fibo(n):
  if n == 1 :
    return 1
  if n == 2 :
    return 1
  return fibo(n-1)+fibo(n-2)

In [23]:
fibo(5)

5

In [24]:
def fibo(n):
  if n == 1 or n==2:
    return 1
  return fibo(n-1)+fibo(n-2)

In [25]:
[fibo(i) for i in range(1,11)]

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]