# Unit 13. if 조건문

In [4]:
# 'mana'항목이 존재하면 기존 값 + 100, 없으면 값이 +50이 되게 만드시오
d = {'mana': 120}
e = {}

for item in [d, e]:
    if 'mana' in item:
        item['mana'] = item['mana'] + 100
    else:
        item['mana'] = 50

d, e

({'mana': 220}, {'mana': 50})

## 13.1 if 조건문

In [7]:
x = 10
if x == 10:
  print('It is 10.')

It is 10.

In [8]:
if x=10:
   print('It is 10.')

SyntaxError: ignored

In [12]:
x=9
if x:                      # x가 0이 아니면 참
   print('It is 10.')

It is 10.

## 13.2 들여쓰기

In [16]:
x = 9

if x == 10:
  print('x값은')
  print('10입니다')
print('언제나 출력됩니다.')

언제나 출력됩니다.

## 13.3 중첩 if 조건문

In [17]:
x = 15
if x > 10:
  print('10보다 큰 수입니다')
  if x == 15:
    print('15 입니다')
    if x == 20:
      print('20 입니다')

10보다 큰 수입니다
15 입니다

In [19]:
x = int(input('정수를 입력하세요> '))
if x >10:
  print('10보다 큰 수입니다')
  if x == 15:
    print('15 입니다')
    if x == 20:
      print('20 입니다')

정수를 입력하세요> 16
10보다 큰 수입니다